# === DOSSIERS SPÉCIFIQUES ===
data/large_datasets/

# === FICHIERS OFFICE ===
*.xlsx
*.xls
*.docx
*.doc
*.pptx
*.pdf

# === IMAGES ===
*.png
*.jpg
*.jpeg
*.gif
*.tiff
*.bmp
*.html

# === FICHIERS SYSTÈME ET LOGS ===
*.bak
*.tmp
*.log
logs/

# === ENVIRONNEMENTS VIRTUELS ET CONFIGS LOCALES ===
.env
config/local_settings.py
env_features/
*.dll
.venv/

# === BUILD ===
build/

# === MODÈLES ET PICKLES ===
*.pkl
*.model
*.h5
*.joblib
models/

# === FICHIERS ZIPPES ===
*.zip
*.zi_
*.tar.gz
*.rar
*.py_

